body {
  background-color: #f0dbb1;
}

.site-title {

  color: #000000 !important;
  font-family: 'Raleway', sans-serif;
  padding: 1.5rem;
}

.navbartext {
  color: #000000 !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.alignright {
  position: absolute;
  right: 1.5rem;
}



.menuicon {
  height: 30px;
  width: 30px;
}

.article-title {
  display: grid;
  place-items: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5rem;
}

.article-subtitle {
  display: grid;
  place-items: center;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 55%!important;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  text-align: justify;
  font-family: 'Rubik', sans-serif;
}

p.drop-cap:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

.figure {
  display: grid;
  place-items: center;
  width: 100%;
}

.social {
  text-align: right;
}

.footer-left {
  display: grid;
  place-items: left;
}

.footer-right {
  display: grid;
  place-items: right;
}
