body {
  background-color: #e44946;
}

.display-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff !important;
  font-family: "Raleway", sans-serif;
}

.site-title {
  color: #ffffff !important;
  font-family: "Raleway", sans-serif;
  padding: 1.5rem;
}

.navbartext {
  color: #ffffff !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.alignright {
  position: absolute;
  right: 1.5rem;
}

.menuicon {
  height: 30px;
  width: 30px;
}

.typing::after {
  content: "";
  position: absolute;
  right: -10px;
  width: 1rem;
  height: 100%;
  border-right: 4px solid white;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
