* {
  font-family: "Raleway", sans-serif;
}

.display-3 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff !important;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.card {
  height: 30rem;
  border-radius: 1rem;
  border: none;
  text-align: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.card-img-top {
  height: 15rem;
}

.card-title {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.card-subtitle {
  margin-top: 0.3rem;
  padding-bottom: 0.5rem;
}

.card-text {
  font-size: large;
}

.btn {
  background-color: #e44946;
  border-color: #e44946;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #e44946;
  border-color: #e44946;
}
